.usado {
  background-color: #ccc;
}

/* Estilos para los botones */
button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #0074d9; /* Color de fondo del botón */
  color: #fff; /* Color del texto en el botón */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.botons-principals {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#abecedari {
  margin-top: 50px;
  max-width: 600px; /* Establece el ancho máximo en 600 píxeles */
  width: 100%; /* Puedes usar width: 100% para que el div ocupe todo el ancho disponible */
  margin: 0 auto;
}

.output {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
